.contect_page {
    margin: 100px auto;
    width: 800px;
    border-radius: 20px;
    box-shadow: 1px 0px 5px silver;
    padding: 30px;
}

.form {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.form input {
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 15px;
    border: 0px;
    box-shadow: 1px 0px 5px silver;
}